{% extends '::base.html.twig' %}


{% block body %}
    <form action="{{ path('edit', {id: fortune.id})}}" method="post" novalidate>
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.content) }}
        {{ form_rest(form) }}
    </form>
{% endblock %}